@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Playfair+Display');


@import url('https://fonts.googleapis.com/css?family=Exo');


header{

height: 180px;
background-color: black;
margin-top: -25px;
margin-left: -10px;
margin-right: -10px;




}
main{

height: 2300px;
background-color:red;







}
nav ul li{
  list-style: none;
  display: inline-block;
  color: white;
  font-size: 22px;
  margin-top: -40px;




}






                      /* //logo in the middle design */



.logo{


  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

}

               /* //////////////nav styling //////////////// */




nav{
  width: 100%;
  text-align: center;
  margin-top: -16px;

  /* margin: 0 auto; */
  /* margin-left: 0 auto; */




}

nav ul{
  margin-left: 0 auto;
  padding: 0px;






}

nav ul li{
  list-style: none;
  display: inline-block;
  padding-left: 0px;
  text-align: center;
  margin-right: 30px;


/* font-family: 'Exo', sans-serif; */

font-family: 'Playfair Display', serif;

}


nav ul li a{
  text-decoration: none;
  color: white;





}

nav ul li a:hover{
    color: white;
    text-decoration: overline underline;
    padding: 0px;






}

                      /* end of NAV styling */


                      /* latest videos box  */


section{

height: 300px;
color: lightgrey;

width: 80%;
height:  0 auto;
margin: 0 auto;



}
h2{

  text-align: center;

  color: black;

  font-size: 20px;
}
#box{
    background-color: lightgrey;

    width: 100%;
    height: auto;


    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;



    /* border-style: dashed; */

    border-width: 10px 5px 10px 5px;
    border-color: red;
    border: solid grey 5px;

    border: solid black;

    margin-left: 50px;

    margin-bottom: 50px;

    margin-top: 50px;

    margin-right: 50px;

    margin: 50px 50px 50px 50px;

    margin: 0 auto;

}

/*
.wrapper{
margin: 0 auto;
width: 1000px;
height: 500px;


} */
/*
.videowrapper{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;




}
.videowrapper iframe{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;




} */

     /* footer */




footer{

background-color: lightgrey;


height: 100px;



     }
   /* about us box */





   p{
color: black;
font-size: 20px;
text-align: center;

font-family: 'Exo', sans-serif;



   }




strong{

  font-size: 30px;
font-family: 'Exo', sans-serif;
text-align: center;




}
.vidcenter{

  display: block;
  margin-left: auto;
  margin-right: auto;



}

h4{

text-align: center;



}
h1{
  color: white;
  text-align: center;
  background-color: red;

}
                               /* artist members */


                                 ul{
                                 margin-left: 0 auto;
                                 padding: 0px;

                                 text-align: center;







                               }

                                ul li{
                                 list-style: none;
                                 display: inline-block;
                                 padding-left: 0px;
                                 text-align: center;
                                 margin-right: 30px;


                               /* font-family: 'Exo', sans-serif; */

                               font-family: 'Playfair Display', serif;

                               }
.artistlist{



  font-size: 30px;
  padding-left: 85px;

}

.memberstitle{
background-color: red;
color: white;







}
.artists{

  background-color: black;
  height: 0 auto;
}
.gtstitle{
background-color: black;






}
h2{



  color: white;
}
.flyers{

  display: block;
  margin-left: auto;
  margin-right: auto;




}
.contact{
  text-align: center;




}




         /* collums with grid */



         #grid1{
         display: grid;
         /* width: 80%; */
         grid-template-areas: "col1 col2";
         grid-template-rows: 600px;
         grid-template-columns: 280px 280px;
         /* grid-column-start: auto; */




         }

         #col1{
         grid-area: col1;
         /* width: 40%; */

         /* height: 10px; */



         }


         #col2{
         grid-area: col2;
         /* width: 40%; */
padding-right: 1px;

         /* height: 100px; */





         }
