@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Playfair+Display');


@import url('https://fonts.googleapis.com/css?family=Exo');

body{
text-align: center;
background: gold;
width: 80%;
height: 0 auto;
margin: 0 auto;


}



h1{
padding-top: 15px;

  text-align: center;

  font-family: 'Fjalla One', sans-serif;
  width: 80%;
  height: 0 auto;
  margin: 0 auto;

  }

  h2{

background-color: red;
    text-align: center;

    font-family: 'Fjalla One', sans-serif;

    width: 80%;
    height: 0 auto;
    margin: 0 auto;

    padding-top: 5px;
    }

h5{
  width: 80%;
  height: 0 auto;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;



  font-family: 'Playfair Display', serif;



}



a{




  font-size: 20px;
}
a{
  text-decoration: none;
  color:red;
  font-weight: 20;
}

a:hover{

   color: black;
   text-decoration: overline underline;

}


p{






  text-align: center;




  font-family: 'Playfair Display', serif;



}

/* background colors brief paragraph */


.backgroundcolor{

width: 80%;





}


footer{
  width: 80%;
  height: 0 auto;
  margin: 0 auto;


  height: 70px;
  background-color: lightgrey;





}
/* image size for intro */

.inline{
  background-color: red;




}


.sizes{
  height: 10px;





}




em{

font-size: 30px;
text-decoration: underline;
color: black;





}



/* sight seeing list */

li{
  list-style: none;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;






}

.normal{

font-size: 20px;





}


.introsize{

height: 520px;



}
