




header{
      background-color: red;
      width: 80%;
      height: 155px;
      margin: 0 auto;

}



footer{
      background-color: red;
      width: 80%;
      height: 500px;
      margin: 0 auto;

}

.left{
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;




}

.heading{
  background-color: blue;
  text-align: center;
  text-decoration: white;
  color: white;







}
.home1{
  display: block;
  margin-left: left;
  margin-right: ;
  display: inline-block;

}

.home2{
  display: block;
  margin-left: right;
  margin-right: ;
  display: inline-block;

}
.home3{
  display: block;
  margin-left: center;
  margin-right: left;
  display: inline-block;

}
main{

background-color: white;
width: 80%;
height: auto;
margin: 0 auto;

}

nav{
  width: 500px;
  margin: 0 auto;
  background-color: blue;




}

nav ul{






}

nav ul li{
  list-style: none;
  display: inline-block;





}


nav ul li a{
  text-decoration: none;
  color: white;





}

nav ul li a:hover{
    color: black;





}

body{
  background-color: grey;




}
