@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Playfair+Display');


@import url('https://fonts.googleapis.com/css?family=Exo');

header{
      background-color: lightgrey;
      width: 80%;
      height: 0 auto;
      margin: 0 auto;

}



footer{
      background-color: grey;
      width: 80%;
      height: 140px;
      margin: 0 auto;
      margin-top: 0 auto;



}

.left{
  display: inline-block;
  margin-left: 0 auto;
  margin-right: 0 auto;




}

.heading{
  background-color: black;
  text-align: center;
  text-decoration: white;
  color: white;

}

.title{

  /* font-family: 'Playfair Display', serif; */
  font-family: 'Fjalla One', sans-serif;



font-size: 40px;
margin-right: 10px;



padding-left: -20px;



}
.title2{

  font-family: 'Playfair Display', serif;
  /* font-family: 'Fjalla One', sans-serif; */
font-size: 40px;
margin-right: 380px;


}
.title3{

  font-family: 'Exo', sans-serif;
font-size: 15px;
/* margin-right: 20px;*/
margin-left: 0 auto;
padding-left: 163px;
/* padding-right: 50px; */
padding-top: 10px;


/* font-size: 15px; */
}
.title4{

  font-family: 'Exo', sans-serif;
  font-size: 50px;



}
.home1{
  display: block;
  margin-left: left;
  margin-right: ;
  display: inline-block;

}

.home2{
  display: block;
  margin-left: right;
  margin-right: ;
  display: inline-block;

}
.home3{
  display: block;
  margin-left: center;
  margin-right: left;
  display: inline-block;
  margin: 0 auto;

}
main{

background-color: lightgrey;
width: 80%;
height:  0 auto;
margin: 0 auto;

}
/* body{
  background-color: lightgrey;
  width: 80%;
  height:  0 auto;
  margin: 0 auto; */





}

nav{
  width: 80%;
  /* margin: 0 auto; */
  /* margin-left: 0 auto; */




}

nav ul{
  margin-left:






}

nav ul li{
  list-style: none;
  display: inline-block;






}


nav ul li a{
  text-decoration: none;
  color: black;





}

nav ul li a:hover{
    color: white;
    text-decoration: overline underline;






}

body{
  background-color: lightgrey;




}
h4{
  display: block;



}






.images{
height: 371px;
margin: 0 auto;

display: ;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-top: 5px;


}
h1{
  text-decoration: overline underline;
  text-align: center;
  /* hover{
 a:hover{ */
color: white;
  }
}





#grid1{
display: grid;
/* width: 80%; */
grid-template-areas: "col1 col2";
grid-template-rows: 600px;
grid-template-columns: 280px 280px;
/* grid-column-start: auto; */




}

#col1{
grid-area: col1;
/* width: 40%; */
background-color: grey;
/* height: 10px; */



}


#col2{
grid-area: col2;
/* width: 40%; */
background-color: grey;
/* height: 100px; */

padding-right: 1000px;



}

/* #grid2{
display: grid;

grid-template-areas: "col3 col4";
grid-template-rows: 200px;
grid-template-columns: 280px 280px;









} */


.foot{

  text-align: center;

  padding-top: 0 auto;


}
#box{
    background-color: lightgrey;

    width: 80%;
    height: auto;


    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;


    /* border-style: dashed; */

    border-width: 10px 5px 10px 5px;
    border-color: red;
    border: solid grey 5px;

    border: solid black;

    margin-left: 50px;

    margin-bottom: 50px;

    margin-top: 50px;

    margin-right: 50px;

    margin: 50px 50px 50px 50px;

    margin: 0 auto;

}

.picture-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
  justify-items: center;
  grid-gap: 5px;
  grid-row-gap: 0px;
}

.grid-box img{
  width: 100%;
}
.nico{

  /* font-family: 'Playfair Display', serif; */
  font-family: 'Fjalla One', sans-serif;



font-size: 40px;
margin-right: 10px;



padding-left: -20px;



}
.nico2{

  font-family: 'Playfair Display', serif;
  /* font-family: 'Fjalla One', sans-serif; */
font-size: 40px;
margin-right: 380px;


}
.nico3{

  font-family: 'Exo', sans-serif;
font-size: 15px;
/* margin-right: 20px;*/
margin-left: 0 auto;
padding-left: 163px;
/* padding-right: 50px; */
padding-top: 10px;


/* font-size: 15px; */
}

.wrapper{
margin: 0 auto;
width: 1000px;
height: 500px;


}

.videowrapper{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;




}
.videowrapper iframe{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;




}
.vids{

  background-color: lightgrey;
  width: 80%;
  height: 0 auto;
  margin: 0 auto;




}
.move{

padding-left:  250;
display: inline-block;






}
.move2{

padding-left:  ;
display: inline-block;






}


.center{
  text-align: center;
  margin-left: 0 auto;
  margin-right: 0 auto;




}
h4{

display: inline-block;
text-align: center;




}
.like{

  /* font-family: 'Playfair Display', serif; */
  font-family: 'Fjalla One', sans-serif;

  display: inline-block;
  text-align: center;


font-size: 40px;
/* margin-right: 10px; */



/* padding-left: ; */



}
.like2{

  font-family: 'Playfair Display', serif;
  /* font-family: 'Fjalla One', sans-serif; */
font-size: 40px;
/* margin-right: ; */
display: inline-block;
text-align: center;

}
