@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Playfair+Display');


@import url('https://fonts.googleapis.com/css?family=Exo');
header{
      background-color: lightgrey;
      width: 80%;
      height: 100px;
      margin: 0 auto;

}



footer{
      background-color: lightgrey;
      width: 80%;
      height: 50px;
      margin: 0 auto;

}

.left{
  display: inline-block;
  margin-left: 0 auto;
  margin-right: 0 auto;




}

.heading{
  background-color: black;
  text-align: center;
  text-decoration: white;
  color: white;

}

.title{

  /* font-family: 'Playfair Display', serif; */
  font-family: 'Fjalla One', sans-serif;



font-size: 40px;
margin-right: 10px;



padding-left: 30px;



}
.title2{

  font-family: 'Playfair Display', serif;
  /* font-family: 'Fjalla One', sans-serif; */
font-size: 40px;
margin-right: 150px;


}
.title3{

  font-family: 'Exo', sans-serif;
font-size: 20px;
/* margin-right: 20px;
margin-left: 10px; */
padding-left: 100px;
padding-top: 10px;

/* font-size: 15px; */
}
.home1{
  display: block;
  margin-left: left;
  margin-right: ;
  display: inline-block;

}

.home2{
  display: block;
  margin-left: right;
  margin-right: ;
  display: inline-block;

}
.home3{
  display: block;
  margin-left: center;
  margin-right: left;
  display: inline-block;

}
main{

background-color: lightgrey;
width: 80%;
height: auto;
margin: 0 auto;

}

nav{
  width: 80%;
  /* margin: 0 auto; */
  /* margin-left: 0 auto; */




}

nav ul{






}

nav ul li{
  list-style: none;
  display: inline-block;





}


nav ul li a{
  text-decoration: none;
  color: black;





}

nav ul li a:hover{
    color: white;
    text-decoration: overline underline;






}

body{
  background-color: lightgrey;




}
h4{
  display: block;







}
